@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Quicksand:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.contr {
  @apply lg:ml-[35px] lg:px-[179px]
}

.kol-3 {
    width: calc(100% / 3);
}

/* width */
::-webkit-scrollbar, ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  @apply hidden;
}
/*
nav ul li a {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #ABB2BF;
}

nav {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.tagar span {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #C778DD;
}
*/

/* build tailwind npx tailwindcss build assets/styles/style.css -o assets/styles/tailwind.css */